language: node_js
node_js:
- '6.9.4'
before_install:
- openssl aes-256-cbc -K $encrypted_b7cbdf137cf7_key -iv $encrypted_b7cbdf137cf7_iv
  -in travis.enc -out ~/.ssh/id_rsa -d
- chmod 600 ~/.ssh/id_rsa
- npm install -g webpack
install:
- npm install
before_script:
- webpack

after_script: scp -r -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o
  PubkeyAuthentication=yes -o PasswordAuthentication=no index.html dist img ubuntu@34.193.114.124:/home/ubuntu/public/dev-dictionary
