<!--
<div class="container-fluid">
    <h1 align="center">
        <b>Browser Automation Toolkit</b>
        <br/>
        <small>v {{version}}</small>
    </h1>
    <div class="row row-centered">
        <nav role="navigation" class="navbar navbar-default nav">

            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="{'active': tabs.chromefs}">
                <ul class="nav navbar-nav">
                    <li><a href="#/chromefs"><i
                            class="fa fa-chrome"></i> Chrome File System</a></li>
                </ul>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="{'active': tabs.winfs}">
                <ul class="nav navbar-nav">
                    <li><a href="#/winfs"><i
                            class="fa fa-windows"></i> Windows File System</a></li>
                </ul>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="{'active': tabs.repo}">
                <ul class="nav navbar-nav">
                    <li><a target="_blank" href="https://github.com/kensplanet/browser-automation-toolkit"><i
                            class="fa  fa-github"></i> Github Repository</a></li>
                </ul>

            </div>

            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="{'active': tabs.webstore}">
                <ul class="nav navbar-nav">
                    <li><a target="_blank"
                           href="https://chrome.google.com/webstore/detail/browser-automation-toolki/giepfplammajibdgpkkigdejjhlhdlpc"><i
                            class="fa fa-shopping-cart"></i> Chrome Webstore</a></li>
                </ul>
            </div>


            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="{'active': tabs.webstore}">
                <ul class="nav navbar-nav">
                    <li><a target="_blank"
                           href="https://chrome.google.com/webstore/detail/browser-automation-toolki/giepfplammajibdgpkkigdejjhlhdlpc/support"><i
                            class="fa fa-exclamation-triangle"></i> Report an Issue</a></li>
                </ul>
            </div>

            <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 navbar-btn" ng-class="{'active': tabs.help}">
                <ul class="nav navbar-nav">
                    <li><a id="about" href="#/help"><i class="fa fa-thumbs-up"></i>
                        Help</a></li>
                </ul>
            </div>
        </nav>
        <uib-alert ng-if="!isAllowedIncognitoAccess && showIncognitoAccessMessage" type="warning"
                   close="closeIncognitoAccessMessage()">Warning! Browser Automation Toolkit is unable to access
            Incognito mode.
        </uib-alert>
        <uib-alert ng-if="!isAllowedFileSchemeAccess && showFileSchemeAccessMessage" type="danger"
                   close="closeFileSchemeAccessMessage()">Fatal! Browser Automation Toolkit is unable to access <i>file://</i>
            scheme.
        </uib-alert>
    </div>
</div>-->
